# Rare files #
*~

# Build and dist files #
*/build/
*/dist/
# Libraries src files and docs
lib/*/src/
lib/*/docs

# Private netbeans files #
*/nbproject/private/

# Sensitive files #
MPCA_PersistenceModule/src/META-INF/persistence.xml 

# Store and Data
*/store/
MPCA_SentimentAnalysisModule/data/client_secrets.json